body {
    line-height: 1.6;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
    font-weight: 300;
}

a {
    color: #D33257;
    text-decoration: none;
}

main {
    max-width: 600px;
    margin: 30px auto;
}

#result {
    margin: 20px 0;
}

img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
}

input,
button {
    font: inherit;
    line-height: 1;
    padding: 15px 10px;
}

input {
    width: 100%;
    border: 2px solid #D33257;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    font-size: 14px;
    font-weight: 600;
    background-color: #D33257;
    color: #fff;
    border: 0;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
